/* CSS Reset cơ bản với điều chỉnh */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
figure, dl, dd {
  margin: 0;
  padding: 0;
}

/* Đặt lại các thuộc tính mặc định cần thiết */
body {
  font-family: 'Karma', sans-serif;
  line-height: 1.5; /* Điều chỉnh line-height để dễ đọc */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
/* Tùy chỉnh margin cho các thẻ tiêu đề */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1em; /* Điều chỉnh khoảng cách trên */
  margin-bottom: 0.5em; /* Điều chỉnh khoảng cách dưới */
}
.Main {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 2622px;
    
}
                        /* BEGIN HEADER */

.Header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 16px 0;
    height: 68px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 1200px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
                          /* END HEADER */

                          /* BEGIN CONTENT */
.Content {
    padding: 8px 16px;
    margin-top: 100px;
}
.container-card {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 25%;
    text-align: center;
    padding: 16px 8px;
}
.img-card {
    width: 272px;
    height: 408px;
    object-fit: cover;
}
.title-card {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 400;
}
.content-card  {
    font-size: 15px;
    margin: 15px 0;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  list-style: none;
  margin: 0;
}
.pagination li a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.pagination li a:hover,
.pagination li a.color-p {
  background-color: black;
  color: white;
}

.pagination li a.color-p:hover {
  background-color: rgb(176, 146, 146);
  color: #fff;
}
hr {
  opacity: 0.3;
  margin: 20px 0;

}
.About {
  text-align: center;
  padding: 32px 16px;
}
.about-me {
  margin: 10px 0px 33px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.title-img {
  margin: 0 auto;
}
.title-about {
  font-size: 20px;
  font-weight: 500;
  margin-top: 42px;
}
.sub-title {
  font-style: italic;
}
.info-about {
  margin: 15px 0px;
  font-size: 15px;
  line-height: 22.5px;
  margin-bottom: 99px;
}
                          /* END CONTENT */


                          /* BEGIN FOOTER */

.Footer {
  padding: 32px 8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Thêm thuộc tính này để các thẻ xuống dòng nếu không đủ không gian */
}

.container-footer {
  padding: 8px 0px;
  flex: 1; /* Để các container chiếm đều không gian */
  max-width: 33.33%; /* Giới hạn mỗi container không vượt quá 1/3 chiều rộng */
  box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước thực tế của container */
}

.title-footer {
  margin: 10px 0px;
  font-size: 24px;
  font-weight: 400;
}

.content-footer {
  font-size: 15px;
  margin: 10px 0px;
}

.sub-content-footer {
  margin: 15px 0px;
}

.sub-content-footer a {
  color: black;
}

.card-footer {
  display: flex; /* Để hình ảnh và nội dung nằm trên cùng một hàng */
  align-items: flex-start; /* Căn chỉnh nội dung từ trên xuống */
  padding: 16px;
}

.img-card-footer {
  font-size: 15px;
  line-height: 22.5px;
  margin: 0px 16px 0px 0px; /* Khoảng cách giữa hình ảnh và nội dung */
  text-align: left;
  width: 50px;
}

.content-card-footer {
  display: flex;
  flex-direction: column; /* Đặt các thẻ span theo chiều dọc */
  justify-content: center; /* Căn giữa các thẻ span theo chiều dọc */
}

.content-card-footer {
  display: flex;
}
.hr-footer {
  margin: 0;
}
.content-footer {
  margin: 15px 0px;
}
.footer-travel {
  padding: 0px 8px;
  margin-bottom: 15px;  
  background-color: black;
  color: #fff;
}
.footer-subtraval span {
  margin: 0px 0px 16px;
  background-color:  rgb(97, 97, 97);
  color: #fff;
  font-size: 12px;
  padding: 0px 8px;
}
